# PyCharm folder
.idea

# Comipled code
*.pyc

# Datasets
*.csv
*.fits
*.vot
*.dat
*.txt

# Images
*.jpg
*.png

# Temporary
.~lock*

# Folders
pyraf
uparm
Binaries_RV
Binaries_spectra

# Log files
*.log
